* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.9px;
}

html,
body {
  font-family: sans-serif, "Roboto";
}

.btn-white {
  border: 1px solid #686f7a;
  background-color: #fff;
  padding: 11px 12px;
  border-radius: 2px;
  color: #686f7a;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-white:hover {
  border-color: #29303b;
  background-color: #fff;
  color: #29303b;
}

.btn-red {
  border: 1px solid transparent;
  background-color: #ec5252;
  padding: 11px 12px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-red:hover {
  border-color: transparent;
  background-color: #521822;
  color: #fff;
}

.admin_logo {
  text-align: center;
}

.admin_logo img {
  margin-bottom: 10%;
}

.admin_logo .admin_text {
  margin-bottom: 10%;
}

.ant-layout-sider-trigger {
  position: absolute !important;
}

table {
  table-layout: fixed !important;
  width: 100%;
}

.btnEdit {
  padding: 5px 25px;
  margin: 4px 5px;
  border: 1px solid #28a745;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #28a745;
  color: #fff;
}

.btnEdit:hover {
  background-color: #fff;
  color: #28a745;
}

.btnDelete {
  padding: 5px 25px;
  margin: 0 5px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btnDelete:hover {
  background-color: #fff;
  color: #dc3545;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.container-form {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.container-form .thongTin {
  width: 45%;
}

.container-form .thongTin .form-group p {
  margin-bottom: 2px;
}

.container-form .thongTin .form-group input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
}

.container-form .thongTin .form-group input[type="date"] {
  width: 33%;
}

.container-form .thongTin .form-group textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 2px 5px;
  border-radius: 5px;
  border: none;
}

.container-form .thongTin .text-error {
  color: red;
}

.container-form .chucNang {
  justify-content: space-around;
}

.container-form .chucNang .cancel {
  padding: 5px 5px;
  height: 3rem;
  width: 100%;
  border: 1px solid #e9e4e4;
  background-color: #f32222;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.container-form .chucNang .cancel:hover {
  border: 1px solid #080808;
  background-color: #f1eded;
  font-weight: bold;
  color: #f71111;
}

.container-form .chucNang .update {
  cursor: pointer;
  padding: 5px 5px;
  height: 3rem;
  width: 100%;
  border: 1px solid #e9e4e4;
  background-color: #2130fc;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.container-form .chucNang .update:hover {
  border: 1px solid #080808;
  background-color: #f1eded;
  font-weight: bold;
  color: #2130fc;
}

.cancel {
  width: 50%;
  height: 3rem;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #ff2222;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.cancel:hover {
  background-color: #fff;
  color: #ff2222;
  border: 1px solid #ff2222;
}

.update {
  cursor: pointer;
  padding: 5px 5px;
  height: 3rem;
  width: 50%;
  border: 1px solid #e9e4e4;
  background-color: #2130fc;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.update:hover {
  border: 1px solid #080808;
  background-color: #f1eded;
  font-weight: bold;
  color: #2130fc;
}

#form-edit {
  width: 100%;
}

.themPhimbtn {
  cursor: pointer;
  padding: 5px 5px;
  height: 3rem;
  width: 30%;
  border: 1px solid #e9e4e4;
  background-color: #2130fc;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  transition: all 0.5s;
}

.themPhimbtn:hover {
  border: 1px solid #080808;
  background-color: #f1eded;
  font-weight: bold;
  color: #2130fc;
}

.infoUser {
  margin: 0 auto;
}

.infoUser .itemInfo {
  margin-bottom: 2rem;
}

.infoUser .chucNangChinhSua {
  padding-left: 20%;
}

.infoUser .chucNangChinhSua button {
  margin-right: 15%;
}

.ant-layout-sider-trigger {
  position: absolute !important;
}

.fontRapChieu {
  font-family: sans-serif, "roboto";
}

.componentTinTuc {
  background: linear-gradient(to top, #d1d1d1, whitesmoke);
}

.phimDangChieu {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: black;
  text-shadow: 5px 5px 10px orange;
}

.phimDangChieu:hover {
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.5s;
  cursor: pointer;
}

.carousel1 {
  padding: 0 5%;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

.DangNhapCPN {
  background: url("../../img/BackGround.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
}

.DangNhapCPN .formDangNhap {
  padding-top: 7%;
  width: 35%;
  color: white;
}

.DangNhapCPN .formDangNhap .TieuDeDN {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1;
  background-image: linear-gradient(to right, #ec7532, #fbbd61);
  color: transparent;
  -webkit-background-clip: text;
}

.DangNhapCPN .formDangNhap .itemDangNhap {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.DangNhapCPN .formDangNhap .itemDangNhap:hover {
  text-decoration: none;
}

.DangNhapCPN .formDangNhap .nutDangKy {
  text-decoration: none;
}

.dangKyCPN {
  background: url("../../img/BackGround.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
}

.dangKyCPN .formDangKy {
  padding-top: 2%;
  width: 50%;
  color: white;
}

.dangKyCPN .tieuDeDK {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.1;
  background-image: linear-gradient(to right, #ec7532, #fbbd61);
  color: transparent;
  -webkit-background-clip: text;
}

.slider-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardItems {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  border-radius: 11px;
  position: absolute;
  width: 100%;
  height: 22rem;
  position: relative;
  z-index: 10;
  perspective: 3000px;
}

.cardItems:hover .cardPhim {
  opacity: 0;
}

.cardItems:hover .popup {
  overflow: hidden;
  opacity: 1;
  transform: rotateY(0deg);
  box-shadow: 1px 2px 10px 5px solid #000;
}

.cardItems:hover .hinhPhim {
  opacity: 1;
  transform: rotateY(180deg);
}

.cardItems .hinhPhim {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.6s ease-in-out;
  border-radius: 9px;
}

.cardItems .cardPhim {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 3.6rem;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  opacity: 1;
  transition: all 0.8s;
  justify-items: center;
}

.cardItems .cardPhim .itemName {
  color: black;
  padding: 3% 6%;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.cardItems .popup {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: repeat(2 1fr);
  gap: 5px;
  text-align: center;
  justify-items: center;
  border-radius: 4px;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}

.cardItems .popup .btnDatVe {
  width: 100%;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.cardItems .popup .btnDatVe p {
  background-color: red;
  width: 100%;
  padding: 10% 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  transition: all 0.5;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #ec5252;
  padding: 11px 56px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.cardItems .popup .btnDatVe p:hover {
  border-color: transparent;
  background-color: #521822;
  color: #fff;
}

.cardItems .popup .playBtn {
  width: 35%;
  padding-top: 45%;
  color: white;
  transition: all 0.5;
}

.cardItems .popup .playBtn:hover {
  opacity: 0.5;
}

.hinhCarousel {
  width: 48rem;
  height: 25rem;
}

.banner {
  display: flex;
  font-size: 5rem;
}

#swiperContainer2 {
  padding: 0rem 5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.trailer-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.trailer-wrapper .popuptext {
  max-width: 900px;
  outline: none;
}

.show {
  visibility: visible;
  opacity: 1;
  animation: fadeIn 1s;
}

.btnClose {
  font-size: 30px;
  position: absolute;
  top: 70px;
  right: 100px;
  cursor: pointer;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa {
  position: absolute;
}

.slider {
  display: "grid";
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin: 0 auto;
  width: "100%";
  gap: 2%;
}

.itemFilm {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.zIndex {
  z-index: 0 !important;
}

#navbar {
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.5s;
  /* Transition effect when sliding down (and up) */
  z-index: 20;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#navbar {
  padding-left: 20px;
  height: 4rem;
  background-color: rgba(243, 240, 240, 0.4);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
}

#navbar .nav-link {
  list-style: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.1;
  font-weight: bolder;
  padding: 12px 25px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

#navbar .nav-link .h3 {
  font-size: 15px;
}

#navbar .nav-link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}

#navbar .nav-link:hover {
  color: black;
}

#navbar .nav-link:hover::before {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

.cacLienKet {
  margin-left: 50px;
}

.deMuc {
  font-size: 18px;
  font-weight: 700;
  padding-top: 5px;
  color: #fff;
}

.tenHangPhim {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
  transition: all 0.8s;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
  padding: 12px auto;
  padding-top: 10px;
  animation: spin 4s linear 0s infinite;
}

.tenHangPhim:hover {
  background-image: linear-gradient(to right, #ec7532, #fbbd61);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.8s;
}

.icon {
  float: right;
  display: none;
}

li {
  position: relative;
}

@media only screen and (max-width: 959px) {
  .tenHang {
    width: 100%;
  }
  .navbar {
    width: 100%;
    margin: 0 auto;
  }
  #thanhTacVu {
    display: none;
    margin: 0 auto;
  }
  #thanhTacVu.active {
    width: 100%;
    margin: 0;
    background-color: rgba(61, 60, 60, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 63px;
    left: 25%;
    display: block;
  }
  #thanhTacVu li {
    width: 70%;
    display: block;
    text-align: center;
    border-radius: 4px;
    border-bottom: 0.5px solid whitesmoke;
    background-color: rgba(24, 23, 23, 0.9);
  }
  #thanhTacVu li .nav-link:hover {
    color: #ece8e8;
  }
  #thanhTacVu li .nav-link:hover::before {
    background-image: rgba(24, 23, 23, 0.9);
    transform: scale(1);
  }
  .icon {
    cursor: pointer;
    display: block;
    font-size: 2rem;
    color: #fff;
  }
}

.hinhDangNhap {
  text-align: center;
  margin-left: 100px;
}

.hinhUserLogin {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: trotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.headerFix {
  position: fixed;
  z-index: 9999;
}

.carousel2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding-top: 10rem;
}

.itemsBanner {
  width: 100%;
  height: 100%;
}

.swiperContainer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(to top, whitesmoke, black);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide {
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.carouselChild {
  margin-top: 7%;
  padding-bottom: 2rem;
}

.back-new {
  padding-top: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}

.back-new h3 {
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 20px;
  letter-spacing: 0.1px;
  background-image: linear-gradient(to right, rgba(7, 7, 7, 0.5), #444444);
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 5px 5px 10px #1b1b1b;
  cursor: pointer;
}

.cinema-block {
  font-family: sans-serif;
  background: linear-gradient(to right, whitesmoke, rgba(11, 15, 236, 0.397));
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.cinema-block .home-cinema {
  max-width: 100%;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(150px, auto);
  border: 1px solid #9b9b9b;
  margin-bottom: 30px;
  overflow-y: scroll;
  transition: all 0.5s;
}

.cinema-block .home-cinema .list-cinemas {
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  list-style: none;
}

.cinema-block .home-cinema .list-cinemas .cinema-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cinema-block .home-cinema .list-cinemas .cinema-col .cinema-ho {
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.cinema-block .home-cinema .list-cinemas .cinema-col .cinema-ho:hover {
  transform: scale(1.2);
}

.cinema-block .home-cinema .list-cinemas .cinema-col .cinema-ho::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.cinema-block .home-cinema .list-cinemas .cinema-col .cinema-ho .logo {
  width: 50px;
  height: 50px;
  display: block;
  margin: 10px 0;
}

.cinema-block .home-cinema .cinema {
  grid-column-start: 2;
  grid-column-end: 7;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.cinema-block .home-cinema .cinema .cinema-item {
  padding: 15px;
  padding-left: 20px;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
}

.cinema-block .home-cinema .cinema .cinema-item .cinema-dt {
  padding: 10px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.5s;
}

.cinema-block .home-cinema .cinema .cinema-item .cinema-dt::after {
  content: "";
  margin-top: 15px;
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.cinema-block .home-cinema .cinema .cinema-item .cinema-dt:hover {
  opacity: 1;
}

.cinema-block .home-cinema .cinema .cinema-item .cinema-dt a {
  cursor: pointer;
}

.cinema-block .home-cinema .cinema .cinema-item .cinema-dt a span {
  color: green;
}

.cinema-block .wrap-movie {
  grid-column-start: 7;
  grid-column-end: 12;
}

.cinema-block .wrap-movie .box-movie {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 20px;
  width: 100%;
  position: relative;
  border: none;
  display: block;
}

.cinema-block .wrap-movie .box-movie::after {
  content: "";
  margin-top: 40px;
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(155, 155, 155, 0.4);
  opacity: 0.5;
}

.cinema-block .wrap-movie .box-movie .movie-info {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.cinema-block .wrap-movie .box-movie .movie-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}

.cinema-block .wrap-movie .box-movie .movie-info .wrap-info {
  width: 100%;
  padding-left: 20px;
  padding-top: 6px;
}

.cinema-block .wrap-movie .box-movie .movie-info .wrap-info span {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 1px 5px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  min-width: 33px;
  text-align: center;
}

.cinema-block .wrap-movie .box-movie .movie-info .wrap-info .ngBinding {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.cinema-block .wrap-movie .box-movie .movie-time {
  width: 100%;
  padding: 10px;
}

.cinema-block .wrap-movie .box-movie .movie-time .season {
  width: calc(25% - 10px);
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 5px 0px;
  transition: all 0.2s;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
}

.cinema-block .wrap-movie .box-movie .movie-time .season span {
  font-size: 18px;
  color: green;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
}

.cinema-block .wrap-movie .box-movie .movie-time .season span:hover {
  color: #fb4226;
}

.news-block {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  margin-bottom: 50px;
}

.news-block h1 {
  text-align: center;
  margin: 20px 0;
  color: #fa5238;
}

.news-block .wrap-news {
  text-align: center;
}

.news-block .wrap-news .news {
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.news-block .wrap-news .news .news-img {
  flex-basis: 50%;
}

.news-block .wrap-news .news .news-img img {
  width: 100%;
}

.news-block .wrap-news .news .news-content-one {
  flex-basis: 50%;
  text-align: right;
}

.news-block .wrap-news .btn-xem {
  margin-top: 5px;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #4f4f4f;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  color: #686f7a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.news-block .wrap-news .btn-xem:hover {
  background: #fa5238;
  color: #fff;
}

.news-block .wrap-news .news-two {
  display: flex;
  flex-direction: row-reverse;
}

.news-block .wrap-news .news-two .news-content-two {
  flex-basis: 50%;
  text-align: left;
}

.news-block .wrap-news .news-content {
  color: #000;
  padding: 0 5px;
}

.news-block .wrap-news .news-content h4 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 10px;
}

.news-block .wrap-news .news-content p {
  letter-spacing: 0.5px;
  font-size: 1.2em;
}

.news-block .wrap-news .news-content a {
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.news-block .wrap-news .news-content a:hover {
  color: #fa5238;
}

@media screen and (max-width: 768px) {
  .news-block .wrap-news .news {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 30px;
  }
  .news-block .wrap-news .news .news-img {
    margin-bottom: 5px;
  }
  .news-block .wrap-news .news .news-content {
    text-align: justify;
  }
}

.ungDung {
  background: url("../../img/BackGround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
}

.ungDungItem {
  padding-top: 8%;
}

.gachChan {
  text-decoration-line: underline;
}

.mobile {
  height: 28rem;
}

.itemMobile {
  text-align: left;
  padding-left: 8%;
}

.itemThongTinUngDung {
  padding: 4.5%;
  padding-left: 10%;
}

.footerComponent {
  background-color: #302f2f;
}

.doRong {
  width: 80%;
}

.itemFooter {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #858181;
}

.itemFooter li {
  list-style: none;
}

.itemP a {
  text-decoration: none;
  color: #858181;
  padding-bottom: 5px;
  cursor: pointer;
}

.itemP a:hover {
  color: white;
  transition: all 0.5s;
}

.itemPic {
  text-decoration: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.footerInfor {
  margin: 0 auto;
  width: 80%;
  border-top: 0.1px solid white;
}

.itemFinal {
  border-radius: 4px;
  margin: 10px;
  width: 60px;
}

.inforCompany span {
  font-size: 15px;
}

.inforCompany div {
  font-size: 10px;
  color: #858181;
}

.tab {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  color: #fff;
  background-color: #141010;
  margin: 0 auto;
  width: 80%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tablinks {
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
}
/*# sourceMappingURL=App.css.map */