* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.9px;
}
// @font-face {
//   font-family: "fontFilm";
//   src: url("./UVNAnhSang.TTF");
// }

html,
body {
  font-family: sans-serif, "Roboto";
}
