.slider-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.cardItems {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  border-radius: 11px;
  position: absolute;
  width: 100%;
  height: 22rem;
  position: relative;
  z-index: 10;
  perspective: 3000px;
  &:hover .cardPhim {
    opacity: 0;
  }
  &:hover .popup {
    overflow: hidden;
    opacity: 1;
    transform: rotateY(0deg);
    box-shadow: 1px 2px 10px 5px solid #000;
  }
  &:hover .hinhPhim {
    opacity: 1;
    transform: rotateY(180deg);
  }
  .hinhPhim {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.6s ease-in-out;
    border-radius: 9px;
  }
  .cardPhim {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 3.6rem;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    opacity: 1;
    transition: all 0.8s;
    justify-items: center;

    .itemName {
      color: black;
      padding: 3% 6%;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.2px;
    }
  }
  .popup {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 5px;
    text-align: center;
    justify-items: center;
    border-radius: 4px;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;

    .btnDatVe {
      width: 100%;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-decoration: none;
      .datVeBTN {
        background-color: $color-red-0 !important;
      }
      p {
        background-color: red;
        width: 100%;
        padding: 10% 0;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        transition: all 0.5;
        // &:hover {
        //   background-color: rgba(207, 203, 203, 0.5);
        //   color: rgba(0, 0, 0, 0.6);
        // }
        text-decoration: none;
        @include styleButton(
          $color-trans,
          $color-red-0,
          $pd-1 + 1,
          56px,
          $border-radius + 3
        );
        @include styleText($color-white-0, $fs-0, $fw-bold);
        &:hover {
          @include styleButtonHover($color-trans, $color-red-1, $color-white-0);
        }
        cursor: pointer;
        transition: all 0.5s;
      }
    }
    .playBtn {
      width: 35%;
      padding-top: 45%;
      color: white;
      transition: all 0.5;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.hinhCarousel {
  width: 48rem;
  height: 25rem;
}
.banner {
  display: flex;
  font-size: 5rem;
}

#swiperContainer2 {
  padding: 0rem 5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.trailer-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  .popuptext {
    max-width: 900px;
    outline: none;
  }
}

// kích hoạt thêm class này vào
.show {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.btnClose {
  font-size: 30px;
  position: absolute;
  top: 70px;
  right: 100px;
  cursor: pointer;
}
/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa {
  position: absolute;
}
.slider {
  display: "grid";
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin: 0 auto;
  width: "100%";
  gap: 2%;
}
.itemFilm {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.zIndex {
  z-index: 0 !important;
}
