.ungDung {
  background: url("../../img/BackGround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
}
.ungDungItem {
  padding-top: 8%;
}
.gachChan {
  text-decoration-line: underline;
}
.mobile {
  height: 28rem;
}
.itemMobile {
  text-align: left;
  padding-left: 8%;
}
.itemThongTinUngDung {
  padding: 4.5%;
  padding-left: 10%;
}
